root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
end_of_line = lf
trim_trailing_whitespace = false

[*.{csproj,props,targets,xml,config}]
indent_size = 2

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_style_namespace_declarations = block_scoped:suggestion
dotnet_diagnostic.IDE0005.severity = warning
